body {
    background-image: url("../images/fond.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

main{
    margin-left: 10% ;
    margin-right: 10%;
    background-color: rgba(110, 193, 228, 0.8);
    padding: 30px;
    border-radius: 25px;
}

