body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-left: 10% ;
    margin-right: 10%;
    background-color: rgba(110, 193, 228, 0.8);
    padding: 30px;
    border-radius: 25px;
}

