body {
    background-image: url("../images/fond.png");
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 0px;
    background-blend-mode: darken;
    backdrop-filter: blur(3px);
}

main{
    align-items: center;
    align-content: center;
    margin-left: 10% ;
    margin-right: 10%;
    background-color: rgba(48, 48, 48, 0.85);
    padding: 30px;
    border-radius: 25px;
    color: white;

}



main > img{
    align-items: center;
}

a{
    color: #6EC1E4;
}

