header{
    background-color: #6EC1E4;
    width: 100%;
    margin:0;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    justify-content: center;

}

.dropdown{

}
.sousdrop{

}

.sous{
    display: none;
    position: absolute;
}

.soussous{
    display: none;
    position: absolute;
}



nav > ul li:hover .sous{
    display: block;
}

.sous :hover .soussous{
    display: block;

}

ul{
    display: inline-block;
    align-items: center;


}

ul li{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;

}
